/*  recoswipe.css */

.swiper {
/*    width: 600px; */
width: 100%;
    height: 100%;  
  }

.swiper-slide {
  width: 100px;
}

.screen {
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: black;
    display: flex; 
    flex-direction: column;
    text-align: center;   
}

